* {
  /* border: 1px solid red; */
  overflow: hidden;
}

.App {
  text-align: center;
}



.App-header {
  margin: 0;
  height: 100vh !important;
  width: 100vh;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  color: white;
}


